<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{fragments/header :: header}">
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Ma
	banque</title>

</head>
<body>

	<div layout:fragment="content">
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">Consultation d'un compte</div>
				<div class="panel-body"></div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">Information sur le compte</div>
				<div class="panel-body"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">Opération sur le compte</div>
				<div class="panel-body"></div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">Liste des opérations</div>
				<div class="panel-body"></div>
			</div>
		</div>
	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>